body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 1em;
  display: grid;
}
body > * {
  padding: 1em
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
legend {
  font-weight: bold;
  padding: 0 0.5em;

}
header {
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  background-color: #efe7e7;
  gap: 1em 2em;
  padding-bottom: 1em;
  .logo-small {
    width: 82px;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
}
article {
  padding: 0.5em;
  border: 1px solid #ccc;
}
a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}
h2{
  border-bottom: 1px solid #ccc;
}
button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 1em;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #333;
}
main {
  border-right: 1px solid #ccc;
}
:not(main) > section {
  padding-inline: 1em;
  margin-block: 1em;
}
#siteIcon {
  width: 80px;
}

#shoppingCart {
  display: flex;
  flex-direction: column;
  gap: 1em;
  article {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    img {
      width: 80px;
      border-radius: 0.8em;
    }
    div {
      display: flex;
    }
  }
}
footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding-block: 2em;
}
#links ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: right;
  li {
    padding: 8px;
    border-right: 1px solid #ccc;
    &:last-of-type {
      border: none;
    }
  }
}
@media screen and (max-width: 720px) {
  body {
    grid-template:
      "header" auto
      "main" auto
      "footer" auto / auto;
  }
  header {
    flex-direction: column;
  }
  nav {
    margin-block: 1em;
    ul {
      gap: 0.5em;
      li {
        text-align: right;
      }
    }
  }
  main {
    border: none;
  }
  aside {
    display: none;
  }
  footer {
    flex-direction: column;
  }
  #breadSection {
    flex-wrap: nowrap;
    padding: 0.5em;
  }
  #copyright {
    border-bottom: 1px solid #ccc;
    margin-block: 0.5em;
    padding-block: 0.5em;
  }
  #links {
    ul {
      flex-direction: column;
      li {
        padding: 8px 0;
        border: none;
      }
    }
  }
}
