body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  display: grid;
}
body > * {
  padding: 1em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
legend {
  font-weight: bold;
  padding: 0 0.5em;
}
header {
  grid-area: header;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #efe7e7;
  gap: 1em 2em;
  padding-bottom: 1em;
  .logo-small {
    width: 82px;
  }
  nav {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
  }
}
select#languageSelect {
  padding: 0.5em;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: transparent;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: fit-content;
}
fieldset {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  input, select {
    background-color: #f5f5f5;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  label {
    font-weight: bold;
    display: flex;
    align-items: center;
  }
}
article {
  padding: 0.5em;
  border: 1px solid #ccc;
}
a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}
h2 {
  border-bottom: 1px solid #ccc;
}
button,
input[type="button"] {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 1em;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #333;
}
main {
  border-right: 1px solid #ccc;
}
:not(main) > section {
  padding-inline: 1em;
  margin-block: 1em;
}
#siteIcon {
  width: 80px;
}

#shoppingCart,
aside {
  display: flex;
  flex-direction: column;
  gap: 1em;
  article {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    img {
      width: 80px;
      border-radius: 0.8em;
    }
    div {
      display: flex;
    }
  }
}
footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding-block: 2em;
  grid-area: footer;
}
#links ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: right;
  li {
    padding: 8px;
    border-right: 1px solid #ccc;
    &:last-of-type {
      border: none;
    }
  }
}
@media screen and (max-width: 720px) {
  body {
    grid-template:
      "header" auto
      "main" auto
      "footer" auto / auto;
    > * {
      padding: 0.5em;
    }
    box-sizing: border-box;
    overflow-x: hidden;
  }
  header {
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
  }
  nav {
    margin-block: 0.5em;
    width: 100%;
    ul {
      gap: 0.25em;
      justify-content: flex-start;
      li {
        text-align: right;
        white-space: nowrap;
      }
    }
  }
  main {
    border: none;
    padding: 0.5em;
  }
  aside {
    display: none;
  }
  footer {
    flex-direction: column;
    padding: 0.5em;
    gap: 0.5em;
  }
  #breadSection {
    flex-wrap: nowrap;
    padding: 0.5em;
  }
  #copyright {
    border-bottom: 1px solid #ccc;
    margin-block: 0.25em;
    padding-block: 0.25em;
  }
  #links {
    ul {
      flex-direction: column;
      li {
        padding: 4px 0;
        border: none;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  fieldset {
    grid-template-columns: repeat(2, 1fr);
  }
  form {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  fieldset {
    grid-template-columns: 1fr;
  }
}