body {
  grid-template:
    "header header" auto
    "main sidebar" auto
    "footer footer" auto / 1fr auto;
}
header {
  grid-area: header;
}
main, aside {
  padding: 1em; 
}
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
h2 {
  margin: 0;
}
aside {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}
button {
  width: fit-content;
}