body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

main {
  font-size: 1.5em;
  grid-area: main;
  border: none;
}

aside {
  grid-area: sidebar;
}

button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 1em;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #333;
}

h2 {
  align-self: center;
}
p {
  margin: 0;
  color: #333;
}
img {
  border-radius: 0.5em;
}
#quickPeek {
  flex-direction: row;
  flex-grow: 2;
  article {
    img {
      max-width: 150px;
    }
  }
}

main > article {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  margin-block: 1em;
  align-items: center;
  section {
    flex: 1;
    min-width: 0;
    margin: 0;
    padding: 1em;
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-direction: column;
    img {
      max-width: 450px;
      height: auto;
      align-self: center;
    }
    button {
      width: fit-content;
      align-self: flex-start;
    }
    iframe {
      width: 100%;
      height: 400px;
    }
  }
}

/* Tablet - 720px to 1024px */
@media screen and (max-width: 1024px) {
  main {
    font-size: 1.2em;
    > article {
      flex-direction: column;
      gap: 1em;
      section {
        width: 100%;
        iframe {
          height: 300px;
        }
      }
    }
  }
}

/* Mobile - below 720px */
@media screen and (max-width: 720px) {
  body {
    margin: 0;
  }

  main {
    font-size: 1em;
    > article {
      flex-direction: column;
      gap: 1em;
      margin-block: 1em;
      section {
        padding: 0;
        margin: 0;
        iframe {
          height: 250px;
        }
        img {
          max-width: 100%;
        }
      }
    }
  }
}
