body {
  grid-template:
    "header header header header" auto
    "main main main sidebar" auto
    "footer footer footer footer" auto / 1fr 1fr 1fr auto;
}
button {
  background-color: #ccc;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
aside {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}
#breadSection {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
article {
  width: 120px;
}
figure {
  margin: 0;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: center;
  figcaption {
    font-size: 14px;
  }
  > img {
  width: 100px;
  border-radius: 1em;
}}

@media screen and (max-width: 720px) {
  body {
    grid-template:
      "header" auto
      "main" auto
      "footer" auto / auto;
  }
  aside {
    display: none;
  }
  article {
    flex-grow: 1;
  }
}
