body {
  grid-template:
    "header header" auto
    "products sidebar" auto
    "footer footer" auto / 1fr auto;
}
header {
  grid-area: header;
}
main, aside {
  padding: 0.5em;
  margin: 0.5em;
}
aside {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}
main {
  grid-area: products;
}
#breadSection {
  padding: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
article {
  width: 120px;
}
figure {
  margin: 0;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: center;
  figcaption {
    font-size: 14px;
  }
  > img {
    width: 100px;
    border-radius: 1em;
  }
}
section {
  padding: 0.5em;
  margin-block: 1em;
}

@media screen and (max-width: 720px) {
  body {
    grid-template:
      "header" auto
      "products" auto
      "footer" auto / auto;
  }
  aside {
    display: none;
  }
  article {
    flex-grow: 1;
  }
}
