body {
  grid-template:
    "header header header header" auto
    "main main main sidebar" auto
    "footer footer footer footer" auto / 1fr 1fr 1fr auto;
}
button {
  background-color: #ccc;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
aside {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}
#breadSection {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
article {
  max-width: 200px;
  flex-grow: 1;
}
figure {
  margin: 1em;
  > img {
  width: 100px;
  border-radius: 1em;
}}

@media screen and (max-width: 720px) {
  body {
    grid-template:
      "header" auto
      "main" auto
      "footer" auto / auto !important;
  }
  aside {
    display: none;
  }
  article {
    max-width: 100%;
  }
}
